logo,
.pg-main-cs-175 {
}

logo,
.pg-main-cs-175 {
}

/* .link-dark:hover,
.link-dark:focus {
    color: RGBA(26, 30, 33, var(--bs-link-opacity, 1)) !important;
    text-decoration-color: RGBA(26, 30, 33, var(--bs-link-underline-opacity, 1)) !important;
    background-color: #5babff;
    border-radius: 20px;
} */
.nav-link:hover,
.pg-main-cs-175 {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    background: none;
    border: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    border-radius: 11px;
    background-color: #5babff;
}

.text-muted,
.pg-main-cs-175 {
    --bs-text-opacity: 1;
    color: var(--bs-secondary-color) !important;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 27px;
}

h4.fw-bold,
.pg-main-cs-175 {
    font-weight: 700 !important;
    background-color: #93c8ff;
    border-style: none;
    border-radius: 18px;
    padding: 6px;
    text-align: center;
    margin-bottom: -4px;
}

.card,
.pg-main-cs-175 {
    border-radius: 24px;
    border: 3px solid #5babff;
}

.card-button {
    border-radius: 52px;
    color: #a60000;
}