
/* Pinegrow generated Theme Init Begin */
$primary: #f26739;
$secondary: #60abff;
$info: #0dcaf0;
$success: #198754;
$warning: #ffc107;
$danger: #dc3545;
$white: white;
$light: #f8f9fa;
$dark: #212529;

$font-size-base: 1rem;

$grid-gutter-width: 30px;
$border-radius: 1rem;
$border-radius-lg: 1.2rem;
$border-radius-sm: 0.8rem;
$dropdown-border-radius: .25rem !default;
$btn-border-radius: 0.25rem;
$btn-border-radius-lg: 0.3rem;
$btn-border-radius-sm: 0.2rem;
$enable-shadows: false;
$enable-negative-margins: true;
$enable-gradients: false;
$min-contrast-ratio: 4.5;

    /* Pinegrow generated Theme Init End */

/* Pinegrow generated Additional Rules Begin */
body, html {
    min-height: 100vh;
}

    /* Pinegrow generated Additional Rules End */
